In [1]:
import os
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
from matplotlib import gridspec
import seaborn as sns
import math

In [2]:
%matplotlib inline

# Barcodes

In [3]:
binder_name_to_barcode_df = pd.read_csv('L61_barcodes_list.csv')

In [4]:
#binder_name_to_barcode_df.columns = ['Binder', 'Barcode']

In [5]:
binder_name_to_barcode_df

        Binder               Barcode
0    Jerala_P1  TACCGAGTCTGAGATGCCCA
1    Jerala_P2  GACACTGCAGACCGATATGC
2    Jerala_P3  GGGTACGTGAAATACCTTCA
3    Jerala_P4  GTTGCGCGGATGACTCATGG
4    Jerala_P5  ACATGTATCCCTCAGGTTTC
5    Jerala_P6  TTAAGACGAACTGCCACAGC
6    Jerala_P7  AAATGGAGTGTAATGGAGAC
7    Jerala_P8  ACACCCGCTGTGATGACCTC
8    Jerala_P9  CGTCGCCACCTCCTTTAGGC
9   Jerala_P10  CCAGAGCGCAGGACCGCTCT
10  Jerala_P11  CATGTTTTGCCTTGCTGATC
11  Jerala_P12  TGTCTTGGACAATGTATGTA

In [6]:
assigned_barcodes_list = list(binder_name_to_barcode_df['Barcode'])

In [7]:
assigned_barcodes_list

['TACCGAGTCTGAGATGCCCA',
 'GACACTGCAGACCGATATGC',
 'GGGTACGTGAAATACCTTCA',
 'GTTGCGCGGATGACTCATGG',
 'ACATGTATCCCTCAGGTTTC',
 'TTAAGACGAACTGCCACAGC',
 'AAATGGAGTGTAATGGAGAC',
 'ACACCCGCTGTGATGACCTC',
 'CGTCGCCACCTCCTTTAGGC',
 'CCAGAGCGCAGGACCGCTCT',
 'CATGTTTTGCCTTGCTGATC',
 'TGTCTTGGACAATGTATGTA']

In [8]:
binder_name_to_barcode_dict = dict(zip(assigned_barcodes_list, binder_name_to_barcode_df['Binder']))

In [9]:
binder_name_to_barcode_dict

{'TACCGAGTCTGAGATGCCCA': 'Jerala_P1',
 'GACACTGCAGACCGATATGC': 'Jerala_P2',
 'GGGTACGTGAAATACCTTCA': 'Jerala_P3',
 'GTTGCGCGGATGACTCATGG': 'Jerala_P4',
 'ACATGTATCCCTCAGGTTTC': 'Jerala_P5',
 'TTAAGACGAACTGCCACAGC': 'Jerala_P6',
 'AAATGGAGTGTAATGGAGAC': 'Jerala_P7',
 'ACACCCGCTGTGATGACCTC': 'Jerala_P8',
 'CGTCGCCACCTCCTTTAGGC': 'Jerala_P9',
 'CCAGAGCGCAGGACCGCTCT': 'Jerala_P10',
 'CATGTTTTGCCTTGCTGATC': 'Jerala_P11',
 'TGTCTTGGACAATGTATGTA': 'Jerala_P12'}

## Load the Data

In [10]:
trimmed_data_path = '../../Yeast2HybridData2/MiSeq-2020-12-30-L61/Trimmed/'

In [11]:
fastq_files = [filename for filename in os.listdir(trimmed_data_path) if filename[-6:] == '.fastq' and 'HIS' in filename and '10mM' in filename]

In [12]:
fastq_files = sorted(fastq_files)

In [13]:
fastq_files

['L61_HIS_10mM_3AT_R1.fastq', 'L61_HIS_10mM_3AT_R2.fastq']

In [14]:
#fastq_files = [filename for filename in fastq_files if 'V2' in filename]

In [15]:
fastq_files

['L61_HIS_10mM_3AT_R1.fastq', 'L61_HIS_10mM_3AT_R2.fastq']

In [16]:


j = 0

original = 'ATGC'
complement = 'TACG'
translation_table = str.maketrans(original, complement)


#barcodes_df = pd.DataFrame(columns = ['Barcode', 'ID', 'N_poor_nt', 'Condition', 'Binder'])

barcodes_df_list = []

for file in fastq_files:

    if 'R1' in file:
        
        binder_type = 'binder2'
        
        if 'TRP' in file:
            condition = 'TRP'
        else:  # 'HIS'
            condition = 'HIS'
            
    else:  # 'R2'
        
        binder_type = 'binder1'
        
        if 'TRP' in file:
            condition = 'TRP'
        else:  # 'HIS'
            condition = 'HIS'
            
    with open(trimmed_data_path + file) as f:
        
        barcode_read_info = f.readline()

        #for i in range(3):
        while barcode_read_info:
                    
            barcode_read_id = ':'.join(barcode_read_info.split(' ')[0].split(':')[3:])

            barcode_seq = f.readline()[:-1]
            #barcode_seq = f.readline()[:-1] if binder_type == 'binder1' else f.readline()[:-1].translate(translation_table)[::-1]
            #barcode_seq = f.readline()[:-1]
            #f1.readline()[:-1] if binder_type == 'binder2' else f1.readline()[:-1].translate(translation_table)[::-1]

            empty_line = f.readline()

            barcode_quality_ascii = f.readline()

            # we're only interested in barcode quality
            barcode_q_scores = [ord(c)-33 for c in barcode_quality_ascii][:-1]
            n_poor = sum(1 for i in barcode_q_scores if i < 30)

            #barcodes_info_dict[0].append((barcode_seq, barcode_read_id, n_poor, condition, binder_type))
            barcodes_df_list.append([barcode_seq, barcode_read_id, n_poor, condition, binder_type])

            barcode_read_info = f.readline()
            
            j+=1
            if j % 1000000 == 0: print(j)


barcodes_df = pd.DataFrame(barcodes_df_list ,columns = ['Barcode', 'ID', 'N_poor_nt', 'Condition', 'Binder'])

In [17]:
barcodes_df.head()

                Barcode                 ID  N_poor_nt Condition   Binder
0  CTCACTTTCTTACTATTTGC  1:1101:15258:2126         19       HIS  binder2
1  GTCACTGCTGTCCGATATGC  1:1101:14691:2155         16       HIS  binder2
2  TACCGAGTCTGTGATGCCCA  1:1101:15641:2162         13       HIS  binder2
3  GACACTGCTTTCCGTTATGC  1:1101:14249:2162         14       HIS  binder2
4  TTCACTGTTGTCCGTTTTGC  1:1101:11412:2164         16       HIS  binder2

In [18]:
barcodes_df.shape

(904040, 5)

In [19]:
#barcodes_df[(barcodes_df.Barcode.str.len() == 10) & (barcodes_df.Barcode.str.len() == 10)].shape

In [20]:
#barcodes_df[(barcodes_df.Barcode.str.len() >= 17) & (barcodes_df.Barcode.str.len() <= 23)].shape

In [21]:
#barcodes_df = barcodes_df[(barcodes_df.Barcode.str.len() > 7) & (barcodes_df.Barcode.str.len() < 13)]

In [22]:
#barcodes_df.head()

In [23]:
#barcodes_df.to_csv('../../Yeast2HybridData/NextSeq-2019-02-08/DataFrames/L33_3AT_0mM_Processed_Unclustered_Barcodes.csv', index = False)

In [24]:
#barcodes_df[barcodes_df['Binder'] == 'binder1']['Barcode'].nunique()

In [25]:
#barcodes_df[barcodes_df['Binder'] == 'binder2']['Barcode'].nunique()

In [26]:
#barcodes_df['Barcode'].nunique()

## Cluster the barcodes

In [27]:
unclustered_barcodes_file = '../../Yeast2HybridData2/MiSeq-2020-12-30-L61/DataFrames/L61_unclustered_barcodes.csv'

In [28]:
barcodes_df['Barcode'].to_csv(unclustered_barcodes_file, header = False, index = False, sep = '\n')

In [29]:
clustered_barcodes_file = '../../Yeast2HybridData2/MiSeq-2020-12-30-L61/DataFrames/L61_clustered_barcodes.csv'

In [30]:
# starcode gets confused if you don't escape the spaces

unclustered_barcodes_file = unclustered_barcodes_file.replace(' ', "\ ")
clustered_barcodes_file = clustered_barcodes_file.replace(' ', '\ ')

In [31]:
unclustered_barcodes_file

'../../Yeast2HybridData2/MiSeq-2020-12-30-L61/DataFrames/L61_unclustered_barcodes.csv'

In [32]:
clustered_barcodes_file

'../../Yeast2HybridData2/MiSeq-2020-12-30-L61/DataFrames/L61_clustered_barcodes.csv'

 -d or --distance
 
 Defines the maximum Levenshtein distance for clustering.
 
 When not set it is automatically computed as:
 
 min(8, 2 + [median seq length]/30)

In [33]:
# you can set the distance (-d) (2.6666 for a barcode of length 20), I've been having trouble with this...

#!/usr/local/bin/starcode -i {file_path} -o {new_path} -d 5 --seq-id --print-clusters

!/Users/alex/Documents/Python/Y2H/starcode/starcode/starcode -d 2 -i {unclustered_barcodes_file} -o {clustered_barcodes_file} --seq-id --print-clusters

running starcode with 1 thread
reading input files
raw format detected
sorting
progress: 100.00%
message passing clustering

## Upload clustered barcodes

In [34]:

i = 0

barcode_to_consensus = {}

with open(clustered_barcodes_file) as f:
    
    line = f.readline()
    
    while line:
                
        #line.split()[0] - Consensus barcode
        consensus_barcode = line.split()[0]

        #line.split()[1] - Number of the consensus barcode occurences

        #line.split()[2] - List of barcodes
        for barcode in line.split()[2].split(','):
            barcode_to_consensus[barcode] = consensus_barcode

        #line.split()[3] - List of lines (+1 shift to a dataframe index)        
        #lines_numbers = [int(x)-1 for x in line.split()[3].split(',') if x]    # -1 accounts for index shift
        
        #unique_barcodes_df.Consensus.loc[lines_numbers] = consensus_barcode
        
        line = f.readline()

In [35]:
len(barcode_to_consensus)

16215

In [36]:
barcodes_df['Barcode'].nunique()

16216

In [37]:
barcodes_df.shape

(904040, 5)

In [38]:
barcodes_df = barcodes_df[barcodes_df['Barcode'].isin(barcode_to_consensus.keys())].reset_index(drop = True)

In [39]:
barcodes_df.shape

(904039, 5)

In [40]:
barcodes_df.tail()

                     Barcode                  ID  N_poor_nt Condition   Binder
904034  TTCACTGCAGACCGATATGC  1:2104:17430:29140         16       HIS  binder1
904035  TACCGAGTCTGAGATGCCCA  1:2104:16502:29141         12       HIS  binder1
904036  CCTCTGCGCATGACTTCTCT  1:2104:16394:29148         19       HIS  binder1
904037  TGTCGCCACCTCCTTTATGC  1:2104:14697:29150         14       HIS  binder1
904038  GACACTGCGGACCGATATGC  1:2104:15061:29180         15       HIS  binder1

In [41]:
barcodes_df['Consensus'] = barcodes_df['Barcode'].apply(lambda x: barcode_to_consensus[x])

In [42]:
barcodes_df.tail()

,Barcode,ID,N_poor_nt,Condition,Binder,Consensus
904034,TTCACTGCAGACCGATATGC,1:2104:17430:29140,16,HIS,binder1,GACACTGCAGACCGATATGC
904035,TACCGAGTCTGAGATGCCCA,1:2104:16502:29141,12,HIS,binder1,TACCGAGTCTGAGATGCCCA
904036,CCTCTGCGCATGACTTCTCT,1:2104:16394:29148,19,HIS,binder1,CCTCTGCGCATGACTTCTCT
904037,TGTCGCCACCTCCTTTATGC,1:2104:14697:29150,14,HIS,binder1,CGTCGCCACCTCCTTTAGGC
904038,GACACTGCGGACCGATATGC,1:2104:15061:29180,15,HIS,binder1,GACACTGCAGACCGATATGC

In [43]:
barcodes_df[barcodes_df['Consensus'].isin(assigned_barcodes_list)].shape

(896641, 6)

In [44]:
barcodes_df = barcodes_df[barcodes_df['Consensus'].isin(assigned_barcodes_list)]

In [45]:
barcodes_df.shape

(896641, 6)

In [46]:
barcodes_df['Binder_Name'] = barcodes_df['Consensus'].apply(lambda x: binder_name_to_barcode_dict[x])

In [47]:
barcodes_df.head()

,Barcode,ID,N_poor_nt,Condition,Binder,Consensus,Binder_Name
1,GTCACTGCTGTCCGATATGC,1:1101:14691:2155,16,HIS,binder2,GACACTGCAGACCGATATGC,Jerala_P2
2,TACCGAGTCTGTGATGCCCA,1:1101:15641:2162,13,HIS,binder2,TACCGAGTCTGAGATGCCCA,Jerala_P1
3,GACACTGCTTTCCGTTATGC,1:1101:14249:2162,14,HIS,binder2,GACACTGCAGACCGATATGC,Jerala_P2
6,CCTGTTTTTCCTTGCTGTTC,1:1101:14846:2173,12,HIS,binder2,CATGTTTTGCCTTGCTGATC,Jerala_P11
8,TACCGTGTCTGAGATGCCCA,1:1101:11207:2180,16,HIS,binder2,TACCGAGTCTGAGATGCCCA,Jerala_P1

In [48]:
barcodes_df['Consensus'].nunique()

12

In [49]:
binder1_df = barcodes_df[barcodes_df['Binder'] == 'binder1'][['ID', 'Condition', 'Binder_Name']]

In [50]:
binder1_df.shape

(436159, 3)

In [51]:
binder1_df.head()

                       ID Condition Binder_Name
462573  1:1101:15413:2216       HIS   Jerala_P2
462574  1:1101:17449:2217       HIS   Jerala_P9
462575  1:1101:12689:2225       HIS   Jerala_P4
462576  1:1101:16454:2225       HIS   Jerala_P9
462578  1:1101:12933:2243       HIS   Jerala_P4

In [52]:
binder1_df.columns = ['ID', 'Condition', 'Binder1_Name']

In [53]:
binder1_df.head()

                       ID Condition Binder1_Name
462573  1:1101:15413:2216       HIS    Jerala_P2
462574  1:1101:17449:2217       HIS    Jerala_P9
462575  1:1101:12689:2225       HIS    Jerala_P4
462576  1:1101:16454:2225       HIS    Jerala_P9
462578  1:1101:12933:2243       HIS    Jerala_P4

In [54]:
binder2_df = barcodes_df[barcodes_df['Binder'] == 'binder2'][['ID', 'Condition', 'Binder_Name']]

In [55]:
binder2_df.shape

(460482, 3)

In [56]:
binder2_df.head()

                  ID Condition Binder_Name
1  1:1101:14691:2155       HIS   Jerala_P2
2  1:1101:15641:2162       HIS   Jerala_P1
3  1:1101:14249:2162       HIS   Jerala_P2
6  1:1101:14846:2173       HIS  Jerala_P11
8  1:1101:11207:2180       HIS   Jerala_P1

In [57]:
binder2_df.columns = ['ID', 'Condition', 'Binder2_Name']

In [58]:
binder2_df.head()

                  ID Condition Binder2_Name
1  1:1101:14691:2155       HIS    Jerala_P2
2  1:1101:15641:2162       HIS    Jerala_P1
3  1:1101:14249:2162       HIS    Jerala_P2
6  1:1101:14846:2173       HIS   Jerala_P11
8  1:1101:11207:2180       HIS    Jerala_P1

In [59]:
merged_df = pd.merge(binder1_df, binder2_df, on = 'ID')

In [60]:
merged_df.shape

(430111, 5)

In [61]:
merged_df.head()

                  ID Condition_x Binder1_Name Condition_y Binder2_Name
0  1:1101:15413:2216         HIS    Jerala_P2         HIS    Jerala_P1
1  1:1101:17449:2217         HIS    Jerala_P9         HIS   Jerala_P10
2  1:1101:12689:2225         HIS    Jerala_P4         HIS    Jerala_P3
3  1:1101:16454:2225         HIS    Jerala_P9         HIS   Jerala_P10
4  1:1101:12933:2243         HIS    Jerala_P4         HIS    Jerala_P3

In [62]:
merged_df = merged_df.drop('Condition_y', axis = 1)

In [63]:
merged_df.head()

                  ID Condition_x Binder1_Name Binder2_Name
0  1:1101:15413:2216         HIS    Jerala_P2    Jerala_P1
1  1:1101:17449:2217         HIS    Jerala_P9   Jerala_P10
2  1:1101:12689:2225         HIS    Jerala_P4    Jerala_P3
3  1:1101:16454:2225         HIS    Jerala_P9   Jerala_P10
4  1:1101:12933:2243         HIS    Jerala_P4    Jerala_P3

In [64]:
merged_df.columns = ['ID', 'Condition', 'Binder1', 'Binder2']

In [65]:
merged_df.head()

                  ID Condition    Binder1     Binder2
0  1:1101:15413:2216       HIS  Jerala_P2   Jerala_P1
1  1:1101:17449:2217       HIS  Jerala_P9  Jerala_P10
2  1:1101:12689:2225       HIS  Jerala_P4   Jerala_P3
3  1:1101:16454:2225       HIS  Jerala_P9  Jerala_P10
4  1:1101:12933:2243       HIS  Jerala_P4   Jerala_P3

In [66]:
#merged_df.to_csv('L33_3AT_0mM_Main_DF_after_merging.csv', index = False)

In [67]:
merged_df.groupby('Binder1')['Binder2'].nunique().sum()

144

# TRP

In [68]:
#merged_df = pd.read_csv('L33_3AT_0mM_Main_DF_after_merging.csv')

In [69]:
merged_df.shape

(421776, 4)

In [70]:
merged_df.head()

                  ID Condition     Binder1     Binder2
0  1:1101:17134:2203       TRP  Jerala_P12   Jerala_P1
1  1:1101:14609:2209       TRP  Jerala_P10   Jerala_P7
2  1:1101:12895:2215       TRP   Jerala_P2  Jerala_P11
3  1:1101:11225:2233       TRP  Jerala_P10   Jerala_P6
4  1:1101:19975:2236       TRP  Jerala_P11   Jerala_P1

In [71]:
trp_df = merged_df[merged_df['Condition'] == 'TRP'][['Binder1', 'Binder2']]

In [72]:
trp_df.shape

(421776, 2)

In [73]:
trp_df.head()

      Binder1     Binder2
0  Jerala_P12   Jerala_P1
1  Jerala_P10   Jerala_P7
2   Jerala_P2  Jerala_P11
3  Jerala_P10   Jerala_P6
4  Jerala_P11   Jerala_P1

In [74]:
trp_df['Count'] = 1

In [75]:
trp_df.head()

      Binder1     Binder2  Count
0  Jerala_P12   Jerala_P1      1
1  Jerala_P10   Jerala_P7      1
2   Jerala_P2  Jerala_P11      1
3  Jerala_P10   Jerala_P6      1
4  Jerala_P11   Jerala_P1      1

In [76]:
trp_table = pd.pivot_table(trp_df, values = 'Count', index = 'Binder1', columns = 'Binder2', aggfunc = np.sum )

In [77]:
trp_table

Binder2,Jerala_P1,Jerala_P10,Jerala_P11,Jerala_P12,Jerala_P2,Jerala_P3,Jerala_P4,Jerala_P5,Jerala_P6,Jerala_P7,Jerala_P8,Jerala_P9
Binder1,,,,,,,,,,,,
Jerala_P1,20,5256,2122,2989,1237,3430,1846,3245,4899,3835,2273,1982
Jerala_P10,4820,7,3059,8945,6353,8003,2132,7332,6463,6280,4001,1672
Jerala_P11,1700,1367,77,831,3918,2605,1967,1991,2532,1396,2444,2305
Jerala_P12,3318,3280,1364,3975,4604,3679,1844,4158,4022,3358,3073,2325
Jerala_P2,523,4151,3212,4268,75,4547,2956,7055,4402,5468,5290,2169
Jerala_P3,1642,4347,1471,1957,3719,2215,237,2829,1758,2149,1801,2945
Jerala_P4,2480,5113,2424,3433,2590,1450,11,4630,5626,3248,2489,4531
Jerala_P5,2856,2354,2885,3351,4678,3270,2540,1896,1120,3045,2914,3488
Jerala_P6,2293,2754,2008,1728,2839,2953,1426,1740,24,3161,2993,1661
Jerala_P7,1747,1557,1789,2707,2105,1724,1214,3324,2606,1720,2199,2081
Jerala_P8,3353,1920,1958,4663,4385,2886,2637,4235,3081,1892,12,3815
Jerala_P9,2950,1173,2037,3719,2437,5412,2068,7646,3457,2846,4884,15

In [78]:

correct_order = []

for i in range(12):
    correct_order.append('Jerala_P' + str(i+1))

In [79]:
correct_order

['Jerala_P1',
 'Jerala_P2',
 'Jerala_P3',
 'Jerala_P4',
 'Jerala_P5',
 'Jerala_P6',
 'Jerala_P7',
 'Jerala_P8',
 'Jerala_P9',
 'Jerala_P10',
 'Jerala_P11',
 'Jerala_P12']

In [80]:
trp_table = trp_table[correct_order].reindex(correct_order)

In [81]:
trp_table

Binder2,Jerala_P1,Jerala_P2,Jerala_P3,Jerala_P4,Jerala_P5,Jerala_P6,Jerala_P7,Jerala_P8,Jerala_P9,Jerala_P10,Jerala_P11,Jerala_P12
Binder1,,,,,,,,,,,,
Jerala_P1,20,1237,3430,1846,3245,4899,3835,2273,1982,5256,2122,2989
Jerala_P2,523,75,4547,2956,7055,4402,5468,5290,2169,4151,3212,4268
Jerala_P3,1642,3719,2215,237,2829,1758,2149,1801,2945,4347,1471,1957
Jerala_P4,2480,2590,1450,11,4630,5626,3248,2489,4531,5113,2424,3433
Jerala_P5,2856,4678,3270,2540,1896,1120,3045,2914,3488,2354,2885,3351
Jerala_P6,2293,2839,2953,1426,1740,24,3161,2993,1661,2754,2008,1728
Jerala_P7,1747,2105,1724,1214,3324,2606,1720,2199,2081,1557,1789,2707
Jerala_P8,3353,4385,2886,2637,4235,3081,1892,12,3815,1920,1958,4663
Jerala_P9,2950,2437,5412,2068,7646,3457,2846,4884,15,1173,2037,3719
Jerala_P10,4820,6353,8003,2132,7332,6463,6280,4001,1672,7,3059,8945
Jerala_P11,1700,3918,2605,1967,1991,2532,1396,2444,2305,1367,77,831
Jerala_P12,3318,4604,3679,1844,4158,4022,3358,3073,2325,3280,1364,3975

In [83]:
#trp_table.to_csv('L61_TRP_60h_table.csv')

# HIS

In [68]:
merged_df.shape

(430111, 4)

In [69]:
merged_df.head()

                  ID Condition    Binder1     Binder2
0  1:1101:15413:2216       HIS  Jerala_P2   Jerala_P1
1  1:1101:17449:2217       HIS  Jerala_P9  Jerala_P10
2  1:1101:12689:2225       HIS  Jerala_P4   Jerala_P3
3  1:1101:16454:2225       HIS  Jerala_P9  Jerala_P10
4  1:1101:12933:2243       HIS  Jerala_P4   Jerala_P3

In [70]:
his_df = merged_df[merged_df['Condition'] == 'HIS'][['Binder1', 'Binder2']]

In [71]:
his_df.shape

(430111, 2)

In [72]:
his_df.head()

     Binder1     Binder2
0  Jerala_P2   Jerala_P1
1  Jerala_P9  Jerala_P10
2  Jerala_P4   Jerala_P3
3  Jerala_P9  Jerala_P10
4  Jerala_P4   Jerala_P3

In [73]:
his_df['Count'] = 1

In [74]:
his_df.head()

     Binder1     Binder2  Count
0  Jerala_P2   Jerala_P1      1
1  Jerala_P9  Jerala_P10      1
2  Jerala_P4   Jerala_P3      1
3  Jerala_P9  Jerala_P10      1
4  Jerala_P4   Jerala_P3      1

In [75]:
his_table = pd.pivot_table(his_df, values = 'Count', index = 'Binder1', columns = 'Binder2', aggfunc = np.sum )

In [76]:
his_table

Binder2,Jerala_P1,Jerala_P10,Jerala_P11,Jerala_P12,Jerala_P2,Jerala_P3,Jerala_P4,Jerala_P5,Jerala_P6,Jerala_P7,Jerala_P8,Jerala_P9
Binder1,,,,,,,,,,,,
Jerala_P1,36,199,93,832,102351,120,81,122,182,140,93,839
Jerala_P10,167,5,1250,287,256,484,83,1559,16754,185,144,29637
Jerala_P11,55,6147,15,531,123,103,81,87,58,89,90,97
Jerala_P12,103,209,6321,178,127,107,101,147,116,775,97,63
Jerala_P2,93558,140,119,168,46,2103,106,4773,3527,149,775,118
Jerala_P3,89,133,55,68,115,82,3217,127,56,70,57,104
Jerala_P4,108,839,1062,171,487,67082,5,173,188,114,116,183
Jerala_P5,139,78,307,146,152,134,363,80,6755,425,151,125
Jerala_P6,96,91,88,66,700,108,49,620,10,95,105,3516
Jerala_P7,60,58,5954,106,80,49,39,114,73,69,184,66
Jerala_P8,125,1617,99,189,170,121,96,115,117,4609,1,150
Jerala_P9,3700,43612,60,108,137,154,73,209,107,1085,196,8

In [77]:

correct_order = []

for i in range(12):
    correct_order.append('Jerala_P' + str(i+1))

In [78]:
correct_order

['Jerala_P1',
 'Jerala_P2',
 'Jerala_P3',
 'Jerala_P4',
 'Jerala_P5',
 'Jerala_P6',
 'Jerala_P7',
 'Jerala_P8',
 'Jerala_P9',
 'Jerala_P10',
 'Jerala_P11',
 'Jerala_P12']

In [79]:
his_table = his_table[correct_order].reindex(correct_order)

In [80]:
his_table

Binder2,Jerala_P1,Jerala_P2,Jerala_P3,Jerala_P4,Jerala_P5,Jerala_P6,Jerala_P7,Jerala_P8,Jerala_P9,Jerala_P10,Jerala_P11,Jerala_P12
Binder1,,,,,,,,,,,,
Jerala_P1,36,102351,120,81,122,182,140,93,839,199,93,832
Jerala_P2,93558,46,2103,106,4773,3527,149,775,118,140,119,168
Jerala_P3,89,115,82,3217,127,56,70,57,104,133,55,68
Jerala_P4,108,487,67082,5,173,188,114,116,183,839,1062,171
Jerala_P5,139,152,134,363,80,6755,425,151,125,78,307,146
Jerala_P6,96,700,108,49,620,10,95,105,3516,91,88,66
Jerala_P7,60,80,49,39,114,73,69,184,66,58,5954,106
Jerala_P8,125,170,121,96,115,117,4609,1,150,1617,99,189
Jerala_P9,3700,137,154,73,209,107,1085,196,8,43612,60,108
Jerala_P10,167,256,484,83,1559,16754,185,144,29637,5,1250,287
Jerala_P11,55,123,103,81,87,58,89,90,97,6147,15,531
Jerala_P12,103,127,107,101,147,116,775,97,63,209,6321,178

In [82]:
#his_table.to_csv('L61_10mM_3AT_HIS_table.csv')